*{
  background-color: rgb(32, 32, 36);
  /*background-color: #2c313a;*/
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:grid;
  height: 100%;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td {
  width: 85px;
  height: 85px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgb(255, 255, 255);
  position: relative;
}
.white {
  background-color: #6670b1;
}
.black {
  background-color: #1d2557;
}
.piece {
  max-width: 100%;
  max-height: 100%;
}

img {
  background-color: transparent;
  width: 45px;
  height: 45px;
}


#chessboard {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  height: 100%;
}


.highlight {
  background-color: rgba(73, 70, 255, 0.6);
}

#whiteScore, #blackScore {
  position: relative;
  right: 324px;
  padding: 15px;
  text-align: left;
  width: 20px;
  margin:auto;
  height: 15px;
}

#blackScore {
  margin-top: 10px;
  vertical-align: bottom;
  padding-top: 20px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 734px;
  right: 500px;
  margin: auto;
  border: 1px solid white;
  padding-top: 50px;
  border-radius: 7px;
}


#turn {
  position: relative;
  top: 80px;
  font-size: 20px;
  text-align: center;
  width: 220px;
  height: 30px;
}

#newGame {
  width: 150px;
  border: 2px solid rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 8px;
  height: 40px;
  font-size: 20px;
}

#newGame:hover {
  background-color: rgb(65, 65, 65);
}

.letters {
  font-size: 14pt;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 500;
  margin-right: 3px;
  background-color: inherit;
}

.numbers {
  font-size: 14pt;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  margin-left: 3px;
  background-color: inherit;
}

.white .letters, .white .numbers {
  color: #1d2557;
}

.black > .letters, .black .numbers {
  color: #6670b1;
}

.piece {
  text-align: center;
}

.piece img {
  position: relative;
  display:block;
}
