<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div id="blackScore"></div>
  <div id="middle">
    <div id="sidebar">
      <button class="new-game" onclick="window.location.href='newgame/'">New Game</button>
      <div id="turn">
        Turn: {% if board.whites_turn %}
        White
      {% else %}
        Black
      {% endif %}
      </div>
    </div>
    <table id="chessboard"></table>
  </div>
  <div id="whiteScore"></div>

  {{ game_id|json_script:"game-id" }}
  <script>
    const gameID = JSON.parse(document.getElementById('game-id').textContent);
    var gameSocket = new WebSocket(
        'ws://'
        + window.location.host
        + ':8001/' 
        + 'ws/game/'
        + gameID
        + '/'
    );
    console.log('socket made')

    gameSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        window.location.pathname = 'game/' + gameID + '/move/' + data.message;
    };

    gameSocket.onclose = function(e) {
        console.error('Game socket closed unexpectedly');
    };

    var board = "{{ board.content }}";
    var whites_turn  = "{{ board.whites_turn }}" === "True" ? true : false;
    var checkmate  = "{{ board.checkmate }}" === "True" ? true : false;

    const imageUrls = {
        whitePawn: "{% static 'images/White Pawn.png' %}".replace(/&amp;/g, '&'),
        blackPawn: "{% static 'images/Black Pawn.png' %}".replace(/&amp;/g, '&'),
        whiteRook: "{% static 'images/White Rook.png' %}".replace(/&amp;/g, '&'),
        blackRook: "{% static 'images/Black Rook.png' %}".replace(/&amp;/g, '&'),
        whiteKnight: "{% static 'images/White Knight.png' %}".replace(/&amp;/g, '&'),
        blackKnight: "{% static 'images/Black Knight.png' %}".replace(/&amp;/g, '&'),
        whiteBishop: "{% static 'images/White Bishop.png' %}".replace(/&amp;/g, '&'),
        blackBishop: "{% static 'images/Black Bishop.png' %}".replace(/&amp;/g, '&'),
        whiteQueen: "{% static 'images/White Queen.png' %}".replace(/&amp;/g, '&'),
        blackQueen: "{% static 'images/Black Queen.png' %}".replace(/&amp;/g, '&'),
        whiteKing: "{% static 'images/White King.png' %}".replace(/&amp;/g, '&'),
        blackKing: "{% static 'images/Black King.png' %}".replace(/&amp;/g, '&')
    };
    </script>

    <script src="{% static 'main.js' %}"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>

</body>
</html>
